<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="#" />
    
    <title>Video/Editor</title>
  </head>
  <body>
    <div class="container-fluid">
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-primary">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div>
            <div class="card">
              <div class="card-body">
                <h1><strong>VIDEO-EDITOR</strong></h1>
                <hr>
                {% block main %}{% endblock %}
              </div>
            </div>
          </div>
    </div>
  </body>
</html>