{% extends "base.html" %}

{% block main %}
<div class="card">
    <div class="card-body">
        <h2>#Partido</h2>
        <form method="post" action="/" id="partido">
            {{ partido.csrf_token }}
            
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h2>#Destacados</h2>
        <form method="post" action="/" id="destacado">
            {{ destacado.csrf_token }}
            <input type="text" name="title">
            {{ destacado.submit(class="btn btn-danger") }}
        </form>
    </div>
</div>
{% endblock %}

