{% extends "base.html" %}

{% block main %}
<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="card">
    <div class="card-body">
        <h2>#Partido</h2>
        <form method="post" action="{{ url_for('largo') }}">
            {{ formulario_partido.csrf_token }}
            <div>
                {{ formulario_partido.inicio_hora.label}} 
                {{ formulario_partido.inicio_hora(class="form-control") }}
                {{ formulario_partido.inicio_minuto(class="form-control") }}
                {{ formulario_partido.inicio_segundo(class="form-control") }}
            </div>
            <div>{{ formulario_partido.fin_hora.label}} 
                {{ formulario_partido.fin_hora(class="form-control") }}
                {{ formulario_partido.fin_minuto(class="form-control") }}
                {{ formulario_partido.fin_segundo(class="form-control") }}
            </div>
            {{ formulario_partido.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h2>#Destacados</h2>
        <form method="post" action="{{ url_for('corto') }}">
            {{ formulario_destacado.csrf_token }}
            <div>
                {{ formulario_destacado.partido.label}} {{ formulario_destacado.partido(class="form-control") }}
                {{ formulario_destacado.minuto.label}} {{ formulario_destacado.minuto(class="form-control") }}
                {{ formulario_destacado.segundo.label}} {{ formulario_destacado.segundo(class="form-control") }}
            </div>
            {{ formulario_destacado.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}

<!-- <h1>Books</h1>
        {% for book in books %}
            <p>{{book.title}}</p>
            <form method="POST" action="./update">
                <input type="hidden" value="{{book.title}}" name="oldtitle">
                <input type="text" value="{{book.title}}" name="newtitle">
                <input type="submit" value="Update">
            </form>
            <form method="POST" action="./delete">
                <input type="hidden" value="{{book.title}}" name="title">
                <input type="submit" value="Delete">
              </form>
        {% endfor %} -->