{% extends "base.html" %}

{% block main %}
    <div>
    <!-- SEPARAR LOS PARTIDOS -->
        <!-- <form method="post" action="procesar_partido">
            <table>
                <tr>
                    <td></td>
                    <td>Hora : Minuto : Segundo</td>
                </tr>
                <tr>
                    <td>
                        <label for="hora_inicio"><strong>INICIO:</strong></label>
                    </td>
                    <td>
                        <input type="number" id="hora_inicio" name="hora_inicio" style="width: 3em;" min="0" required />:
                        <input type="number" id="minuto_inicio" name="minuto_inicio" style="width: 3em;" min="0" max="59" required />:
                        <input type="number" id="segundo_inicio" name="segundo_inicio" style="width: 3em;" min="0" max="59" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="hora_fin"><strong>FIN:</strong></label>
                    </td>
                    <td>
                        <input type="number" id="hora_fin" name="hora_fin" style="width: 3em;" min="0" required />:
                        <input type="number" id="minuto_fin" name="minuto_fin" style="width: 3em;" min="0" max="59" required />:
                        <input type="number" id="segundo_fin" name="segundo_fin" style="width: 3em;" min="0" max="59" required />
                    </td>
                </tr>
            </table>
            <br>
            <button type="submit">PARTIDO</button>
        </form> -->
    </div>
    <br><hr><br>
    <div>
    <!-- CORTAR LA SECCIONES DE GOLES O PALOS -->
        <form method="post" action="procesar_gol">
            <select id="partido">
                <option value="Partido1">Partido 1</option>
                <option value="Partido2">Partido 2</option>
                <option value="Partido3">Partido 3</option>
                <option value="Partido4">Partido 4</option>
                <option value="Partido5">Partido 5</option>
            </select>
            <br><br>
            <button type="submit">RECORTAR</button>
        </form>
    </div>
{% endblock %}
